@tailwind base;
@tailwind components;
@tailwind utilities;
/* npx tailwindcss -i ./src/input.css -o ./src/output.css --watch */


@layer base {
    /* Effet de rotation sur hover pour les images */
    img:hover {
      transform: rotateY(190deg);
      cursor:pointer;
      border-radius: 7px;
      transition: transform 0.99s ease-in-out;
    }

    @media screen and (max-width: 640px){

    }
    .title{
        position: absolute;
        right:20px;
        top:100%;
        color:white;
        display:flex;
        flex-direction: column;
        grid-column: 10px;
    }
   
  }

  @layer utilities{
    .element{
    
      position:relative;
      border-radius: 7px;

    }
    .element img:hover{
      color:orange;
    }
    .element::after{
      height: 50%;
      content:"";
      position: absolute;
      width: 50%;
      z-index: -5;
      top: -0.3rem;
      left: -0.3rem;
      background-color: orangered;
    }
    .element::before{
     
      height: 50%;
      content:"";
      bottom: -0.3rem;
    position: absolute;
    right: -0.3rem;
    width: 50%;
    z-index: -5;
    background-color: orangered;
  }
  .element:hover::after, .element:hover::before{
      transition:width 0.8s ease-in-out, height 0.8s ease-in-out ;
      width: 100%;
      height: 100%;
    }
  }